.ProductRock {
  padding: 20px 0;
  margin: 20px auto;
}
.ProductRock hr {
  margin: 20px auto;
  border-top: 2px solid rgba(0,0,0,.3);
}
.ProductRock h2 {
  border-bottom: 3px solid #ce8d16;
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.ProductRock .siwa-rock {
  padding: 10px 0;
}
.ProductRock .siwa-rock section {
  margin: 20px auto;
  padding: 10px 0;
}
.ProductRock .siwa-rock section p {
  margin: 35px auto;
}
.ProductRock a {
  color: #ce8d16;
  font-weight: bold;
}
.ProductRock a:hover {
  color: #ce8d16;
}
.ProductRock {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px auto 25px auto;
}
.ProductRock .rocksalt p {
  text-indent: 5rem;
  text-align: justify;
}
.ProductRock h2 {
  border-bottom: 3px solid #ce8d16;
  display: inline-block;
  padding-bottom: 10px;
}
.ProductRock h2:nth-of-type(2) {
  margin: 25px auto;
}
.ProductRock a {
  color: #ce8d16;
  font-weight: bold;
}
.ProductRock hr {
  margin: 20px auto;
  border-top: 2px solid rgba(0,0,0,.3);
}

.ProductRock section {
  margin: 40px 0;
}