.ListElement {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  display: block;
}

.ListElement a {
  color: #8f5c2c;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
  padding: 5px 0;
  font-weight: 500;
}

.ListElement a:hover,
.ListElement a:active,
.ListElement a.active {
  background-color: #8f5c2c;
  text-decoration: none;
  color: #fff;
}