.FooterHeading {
  padding-bottom: 10px;
  color: #ce8d16;
  text-transform: uppercase;
  margin-bottom: .5rem;
}

.ListUnstyled {
  list-style: none;
  padding-left: 0;
}

.ListUnstyled li {
  padding: 10px 0;
  color: #999;
}

.ListUnstyled li:first-child {padding: 0;}

.ListUnstyled li a {
  text-decoration: none;
  color: #999;
}

.ListUnstyled li a:hover {
  color: #FFF;
  transition: .4s;
}