.NavItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  flex-flow: row;
}

@media (max-width: 576px) {
  .NavItems {flex-flow: column;}
}

@media (min-width: 576px) and (max-width: 768px) {
  .NavItems {flex-flow: column;}
}